*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  background-color: lightgrey;
}

img{

  -webkit-filter: drop-shadow(3px 3px 3px #606060);
filter: drop-shadow(3px 3px 3px rgba(184, 175, 175, 0.46));

}


/*Book*/

.book{

  position: relative;
  width: 465px;
  height: 650px;
  transition: transform 0.5s;
}

.paper{

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 7500px;
}

.front,
.back{
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s;


}

.front{
  z-index: 1;
  backface-visibility: hidden;
 border-image: 3px linear-gradient(to right, red, purple);
}

.back{
  z-index: 0;
}

.front-content,
.back-content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-content{
  transform: rotateY(180deg);
}

/*Paper flipped*/
.flipped .front,
.flipped .back{
  transform: rotateY(-180deg);
}

/* Arrow Buttons*/
button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 60px;
  transition: transform 0.5s;

}

button:focus {
  outline: none;
}

button:hover i{
  color: #636363;
}

i{
  font-size: 50px;
  color: gray;
}

/*Paper stack Order*/
#p1  {
  z-index: 22;
}
#p2  {
  z-index: 21;
}
#p3  {
  z-index: 20;
}

#p4  {
  z-index: 19;
}
#p5  {
  z-index: 18;
}
#p6  {
  z-index: 17;
}
#p7  {
  z-index: 16;
}
#p8  {
  z-index: 15;
}
#p9  {
  z-index: 14;
}
#p10  {
  z-index: 13;
}
#p11  {
  z-index: 12;
}
